body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* CSS for the legend */
.legend {
  color: #555;
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  float: left;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend .labels {
  text-align: right; /* Align labels to the left */
}
.legend .labels > div {
  margin-bottom: 5px; /* Add some margin between labels */
}
.legend .color-block {
  display: inline-block;
  width: 30px;
  height: 22px;
  margin-right: 5px;
  line-height: 1.5;
  vertical-align: middle;
}
h1 {
  text-align: center;
}